{% extends 'base.html' %}
    {% block tittle %}
        User Autenticator
    {% endblock %}
{% block content %}

<body>
    <main>
        <header>
            <h1>Hello, World</h1>
        </header>
        <article>
            <h2>Teste de Criação de Branchs</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat, impedit. Quidem dignissimos nemo autem vitae a corporis, ullam amet veritatis? Commodi odio tenetur obcaecati doloribus rerum natus qui blanditiis accusamus?</p>
            <h2>Estudo de GITHUB</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque inventore saepe consectetur asperiores, itaque blanditiis commodi magnam? Vitae ducimus, corporis provident non aspernatur nisi error explicabo totam ipsa eaque necessitatibus.</p>
        </article>
    </main>

    <hr>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia perspiciatis at deserunt, asperiores harum quidem fuga quis nobis quo deleniti vitae expedita, sed est ratione. Enim, in sapiente. Rerum, ipsam!</p>
</body>


{% endblock %}